* {
  font-family: sans-serif;
}
.row {
  margin: 0 auto;
  width: 800px;
}

h1 {
  margin: 40px auto;
  display: block;
}

.bildetekst {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.bildetekst img {
  object-fit: cover;
  width: 500px;
  margin: 0 40px 0 0;
}


@media screen and (max-width: 900px) {
  .row {
    max-width: 400px;
  }
  .bildetekst img {
    width: 50%;
    /* display: block; */
  }
}
