* {
  font-family: sans-serif;
}
.row {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  margin: 40px auto;
  display: block;
}

.bildetekst {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
}

.bildetekst img {
  object-fit: cover;
  width: 60%;
  margin: 0 40px 0 0;
}
span  {
  display: block;
  width: 40%;
}


@media screen and (max-width: 900px) {
  .bildetekst img {
    width: 50%;
    display: block;
  }
  span {
    display: block;
    width: 50%;
  }
}
